.card-data {
    border: 1px solid black;
    padding: 10px;
    margin: 0.5rem ;
} 

.card-data > img {
    width: 190px;
}

.cardinfo {
    width: 190px;
}

.cardinfo{
    justify-content: center;
    align-items: center;
}
