.container {
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

.emptyCard{
    border: 1px solid black;
    height: 200px;
    width: 250px;
    margin: 2rem;
    padding: 10px;
    margin: 0.5rem ;
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    justify-content: center ;
    flex-wrap: wrap;
    display: inline;
}

.card-data {
    
} 